.gantt-label{
  width:fit-content;
  text-align: right;
  margin:10%;
  padding:10%;
  overflow-x:scroll;
  font-size: 1000px;
  dominant-baseline:central;
}
[id^="google-visualization-errors"] {
  display: none;
}

